<?xml version="1.0" encoding="utf-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap = "http://phonegap.com/ns/1.0"
	id = "cl.bireal.cmltest"
	versioncode = "10"
	version = "1.0.0.">

	<!-- versionCode is optional and android only -->

    <name>cmltest</name>

    <description>
        CML TEST
    </description>

    <author href="bireal.cl" email="vanealarcon@bireal.cl"
    	web
    </author>

</widget>